<p>
	<strong>First Name:</strong>
	<%= @member.first_name %>
</p>

<p>
	<strong>Last Name:</strong>
	<%= @member.last_name %>
</p>

<p>
	<strong>Email Address:</strong>
	<%= @member.email_address %>
</p>

<p>
	<strong>Phone Number:</strong>
	<%= @member.phone_number %>
</p>

<p>
	<strong>Address:</strong>
	<%= @member.address %>
</p>

<p>
	<strong>City:</strong>
	<%= @member.city %>
</p>

<p>
	<strong>State:</strong>
	<%= @member.state %>
</p>

<p>
	<strong>Zip:</strong>
	<%= @member.zip %>
</p>

<%= link_to 'Edit', edit_member_path(@member), class: "btn btn-link" %> |
<%= link_to 'Back', members_path, class: "btn btn-link" %>
